@import url('https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:100,300,400,500,700&');

/********************Header*************************/
#header {
    background-color: #b70a33;
    color: #fafafa;
    height: 100%;
}

#header .sticky-navbar {
    position: fixed;
    top: 0;
    background-color: #b70a33;
    z-index: 10;
    width: 100%;
}

#header nav a{
    color: #fafafa;
    transition: background-color 0.35s ease-in-out;
}

#header nav li a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 28px;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #fafafa;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.banner-img {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    background-attachment: fixed;
}

body, html {
  height: 100%;
}

.full-screen-banner {
    height: 100vh
}

.full-screen-banner h1{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 52px;
    color:#fafafa;

}
.banner-text {
    position: absolute;
    bottom: 87px;
    animation: banner-text 2s ease-in-out;
    left: 30px;
    
}
.overlay:after{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(0, 0, 0, 0.19);
}

/********************Breif*************************/
.brief-text {
    padding: 60px 85px;
    background-color: #e0e0e0;
}

.brief-text h2{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 38px;
    text-transform: uppercase;
}

.brief-text p{
    font-family: 'Roboto', sans-serif;
    line-height: 36px;
    color: #5d5d5d;
}

.brief-img {
    background-image: url(../images/the-band.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:700px){
    .brief-img {
        height:350px;
    }
}

/********************Media*************************/
#media{
    padding: 75px 0;
    position: relative;
    background-color: rgba(0,0,0,.3);
}

audio {
    width:100%;
}
.audio::after {
    content: "";
    background-image: url(../images/music-key-background.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
}

.audio-clip .audio-player {
    background-color: #f1f3f4;
    text-align:center;
}
.audio-clip img {
    height:350px;
    width:100%;
}

.audio-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    margin-top: 17px;
    text-transform: uppercase;
}

.video {
   margin-top: 25px;
}

/********************Events / TimeLine*************************/
#events {
    background-color:#fafafa;
    overflow-x:hidden;
}

.bg-sample{
    color: #efeded;
    text-shadow: 20px 22px 24px #bdbbbb;
    font-size: 280px;
    text-align: center;
}

@media (max-width:570px) {
    .bg-sample{
     display:none;
    }


    .content-left {
    right: -11% !important;
    margin-top: 50px;
    overflow: hidden;
    }
    .center-line {
    border-left: 3px solid #dfdfdf;
    position: absolute;
    left: 36px;
    height: 100%;
    }
    .content-right {
    right: -11% !important;
    margin-top: 50px;
    overflow: hidden;
    }
    .content-left:after {
    content: "\f104" !important;
    top: 16px !important;;
    left: 7px !important;
    }
    .timeline-left, .timeline-right{
        position:relative;
    }
    #events .card-title {
    font-size: 26px !important;
    }
    p.card-text {
    line-height: 20px;
    font-size: 0.9rem;
    max-height: 90px;
    overflow-y: hidden;
    }
}

.mobile-text {
    display:none;
}
.center-line {
    border-left: 3px solid #dfdfdf;
}

#events .card {
    border-width:4px;
    z-index: 1;
}
.circle-timeline {
    width: 30px;
    height: 30px;
    background-color: #b70a33;
    border-radius: 15px;
    left: -31px;
    top: 58px;
    position: relative;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
#events .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.37);
}

#events .card-title {
    text-shadow: 0px 0px 4px #000;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 31px;
}

.card-info {
    position: absolute;
    bottom: 9px;
    font-size: 13px;
}

#events .card .date{
    margin:0 20px;
}


/********Events / Left Card*********/

.content-left:after {
    content:"\f105";
    font-family:"Font Awesome 5 Free";
    font-weight: 600;
    color: #dfdfdf;
    position: absolute;
    top: 16px;
    right: 7px;
    font-size: 27px;
    line-height: 15px;
    z-index: 0;
}
.content-left {
    right: -7%;
    margin-top: 50px;
    overflow:hidden;
}

/********Events / Right Card*********/

.content-right:after {
    content: "\f104";
    font-family:"Font Awesome 5 Free";
    font-weight: 600;
    color: #dfdfdf;
    position: absolute;
    top: 16px;
    left: 7px;
    font-size: 27px;
    line-height: 15px;
    z-index: 0;
}
.content-right {
    right: 7%;
    margin-top: 50px;
    overflow:hidden;
}

h2 {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 65px;
    text-align: center;
    padding: 30px 0;
}
